.p-l-55 {
  padding-left: 55px;
}
.p-r-55 {
  padding-right: 55px;
}
.p-t-8 {
  padding-top: 8px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-t-54 {
  padding-top: 54px;
}
.p-t-65 {
  padding-top: 65px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-31 {
  padding-bottom: 31px;
}
.p-b-49 {
  padding-bottom: 49px;
}
.p-b-54 {
  padding-bottom: 54px;
}
.m-b-23 {
  margin-bottom: 23px;
}

/* ------------------------------------ */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
